<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form id="form">
        <p>nome:</p>
        <input type="text" id="nome">
        <p>email:</p>
        <input type="email" id="email">
        <p>senha:</p>
        <input type="password" id="senha">
        <p>idade:</p>
        <input type="text" id="idade">
        <p>endereço:</p>
        <input type="text" id="endereco">
        <p>username:</p>
        <input type="text" id="username">
        <p>cpf:</p>
        <input type="text" id="cpf">
        <button>Cadastrar</button>
    </form>
</body>
</html>

<script src="../static/js/teste.js"></script>