<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="utf-8">
    <title>Home || Podemos Educação</title>
  </head>
<!--cabeçario-->

<body>
  
  <div class="cabeçario">
    <input id="menu-hambuguer"type="checkbox" >
  
      <nav>
        <a href="cadastro.html" class="cadastro"><h6 id="cadastro">Cadastre-Se</h6></a>
        <a href="" class="login">Login</a>
        <a id="lupa"class="icone lupa" href=""></a>
        <a href="index.html"><div class="podemoslogobranca"></div></a>
      </nav>
  
  
  
      <!-- bars -->
      <label id="hm" for="menu-hambuguer">
        <div class="menu">
           <span  class="hambuguer">
           </span>
        </div>
      </label>
      
   
  </div>
  
  <!-- conteudo-->
  <main class="conteudo">

  </main>
              <!--rodapé-->
  <footer class="rodap3">

  </footer>

</body>

</html>
